#edit this file and rename it to .env before running the application
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nse_eod
DB_USER=your_db_username
DB_PASSWORD=your_db_password
PYTHON_PATH=D:\NSE swing\banker-rsi-dashboard\.venv\Scripts\python.exe
EOD_FOLDER=D:\NSE swing\banker-rsi-dashboard\data
LOADER_SCRIPT=D:\NSE swing\banker-rsi-dashboard\backend\nse_to_mysql_with_banker_signal.py
SERIES_FILTER=EQ
DOWNLOAD_DIR= #path to download the data, if not specified it will be downloaded in the current directory
FLASK_PORT=5001
